<footer class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <ul class="linksGroup">
        <li><a href="">2016 Benefits</a></li>
        <li><a href="">2017 Enrollment</a></li>
        <li><a href="">5 Years Capital Plan</a></li>
        <li><a href="">Employee Wellness</a></li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-4">
      <ul class="linksGroup">
        <li><a href="">Employement Opportunities</a></li>
        <li><a href="">Accountability Report</a></li>
        <li><a href="">Free and Reduced lunch</a></li>
        <li><a href="">Foundation</a></li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-4">
      <ul class="linksGroup">
        <li><a href="">Inspector General</a></li>
        <li><a href="">Magnet Schools</a></li> 
        <li><a href="">Policies</a></li>
        <li><a href="">Redistricting</a></li>         
      </ul>
    </div>
  </div>
</footer>