<div class="row text-center">
  <h3>Public Important Resources</h2>
</div>
<div class="row">
  <div class="col-md-3 col-sm-3">
    <div class="resourceInner">
      <h4>FDOE</h4>
      <h5>Florida Department Of Education</h5>
      <ul class="">
        <li><a href="">Curriculum Framework</a></li>
        <li><a href="">Certification Exams</a></li>
        <li><a href="">Carreers</a></li>
      </ul>
      <p><a class="btn btn-default" href="" role="button">more ... &raquo;</a></p>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="resourceInner">
      <h4>ESOL</h4>
      <h5>English Students Other Languages</h5>
      <ul class="">
        <li><a href="">Course Content</a></li>
        <li><a href="">Certification Exams</a></li>
        <li><a href="">Locations</a></li>
      </ul>
      <p><a class="btn btn-default" href="" role="button">more ... &raquo;</a></p>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="resourceInner">
      <h4>Budgets</h4>
      <h5>State and County budgets</h5>
      <ul class="">
        <li><a href="">State legislations on budgets</a></li>
        <li><a href="">Other budgets</a></li>
        <li><a href="">County plan</a></li>
      </ul>
      <p><a class="btn btn-default" href="" role="button">more ... &raquo;</a></p>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div class="resourceInner">
      <h4>Calendars</h4>
      <h5>School calendars</h5>
      <ul class="">
        <li><a href="">k12 education calendar</a></li>
        <li><a href="">Adult education calendar</a></li>
        <li><a href="">Senior education calendar</a></li>
      </ul>
      <p><a class="btn btn-default" href="" role="button">more ... &raquo;</a></p>
    </div>
  </div>
</div>
<div class="row resourceSeparator"></div>
