
<link href="/contents/loginStyle.css" rel="stylesheet">
<style>
    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: 0.9;
    }
</style>

<div class="loginContainer text-center">
      <form class="form-signin text-center">
        <div class="formHeader">
          <h2 class="form-signin-heading text-center"><span class="glyphicon glyphicon-lock"></span>Login</h2>
        </div>
        <div class="formContent">
          <a class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> Sign in with Google
          </a>
          <a class="btn btn-block btn-social btn-microsoft">
              <span class="fa fa-windows"></span> Sign in with Microsoft
          </a>
          <a class="btn btn-block btn-social btn-facebook">
              <span class="fa fa-facebook"></span> Sign in with Facebook
          </a>
          <div class="text-center orStyle">or</div>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="text" id="inputUsername" ng-model="vm.name" class="form-control" placeholder="username" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" ng-model="vm.password" class="form-control" placeholder="Password" required>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label> |
            <a href="">Forgot password</a>
          </div>
        </div>
        <div class="formFooter text-center">
          <a class="btn btn-block" href ng-click="vm.changePage()"><span class="glyphicon glyphicon-play-circle"></span></a>
        </div>
      </form>
</div>
</div>

