<div class="container portalContent">
  <div class="row text-center">
    <div class="col-md-12">
      <h3>Portal Access</h3>
    </div>
  </div>
  <div class="row privacy">
    <div class="col-md-12">
      <h4>Privacy Statement:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>This notice provides the Department of State’s (the Department) privacy policy regarding the nature, purpose, use, and sharing of any Personally Identifiable Information (PII) collected via this website. Our privacy policy explains our information practices when you provide PII to us, whether collected online or offline, or when you visit us online to browse, obtain information, or conduct a transaction. PII may include: your name, email, mailing and/or home address, phone numbers, or other information that identifies you personally. We do not require you to register or provide personal information to visit our website.</p>
      <p>By clicking on the login button you accept the privacy statement.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="btn btn-md btn-primary" href ng-click="vm.openModal()">Login</a><!--#/login-->
    </div>
  </div>
  <hr/>
</div>
